Tutorials/ChemicalTank/scripts/flows.json
[
    {
        "id": "0c5097674d198887",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0e9eff8885841e8a",
        "type": "OpcUa-Client",
        "z": "0c5097674d198887",
        "endpoint": "035f32a25bb2b317",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "3",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "Subscribe",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "89a898fe2d4ded25"
            ]
        ]
    },
    {
        "id": "198eb16b1e8408aa",
        "type": "inject",
        "z": "0c5097674d198887",
        "name": "Add Items",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "a236a0456d52b707",
                "8ce85670aa6fc6fb",
                "3197b8c55610a572",
                "160f761e5f72cd4e"
            ]
        ]
    },
    {
        "id": "a236a0456d52b707",
        "type": "OpcUa-Item",
        "z": "0c5097674d198887",
        "item": "ns=1;s=modbus:ChemicalTank:Level",
        "datatype": "Int16",
        "value": "",
        "name": "Level-sub",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "0e9eff8885841e8a"
            ]
        ]
    },
    {
        "id": "8ce85670aa6fc6fb",
        "type": "OpcUa-Item",
        "z": "0c5097674d198887",
        "item": "ns=1;s=modbus:ChemicalTank:Pressure",
        "datatype": "Int16",
        "value": "",
        "name": "Pressure-sub",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "0e9eff8885841e8a"
            ]
        ]
    },
    {
        "id": "3197b8c55610a572",
        "type": "OpcUa-Item",
        "z": "0c5097674d198887",
        "item": "ns=1;s=modbus:ChemicalTank:Temperature",
        "datatype": "Int16",
        "value": "",
        "name": "Temp-sub",
        "x": 280,
        "y": 360,
        "wires": [
            [
                "0e9eff8885841e8a"
            ]
        ]
    },
    {
        "id": "89a898fe2d4ded25",
        "type": "function",
        "z": "0c5097674d198887",
        "name": "",
        "func": "if (msg.topic.includes(\"Level\"))\n{\n  flow.set(\"level\", msg.payload);\n}\nelse if (msg.topic.includes(\"Pressure\"))\n{\n  flow.set(\"pressure\", msg.payload);\n}\nelse if (msg.topic.includes(\"Temperature\"))\n{\n  flow.set(\"temperature\", msg.payload);\n}\n\nvar payload_val = 0;\n\n\nvar temperature = Number(flow.get(\"temperature\"));\nvar pressure = Number(flow.get(\"pressure\"));\nvar level = Number(flow.get(\"level\"));\nvar limit = 80;// Number(flow.get(\"limit\"));\n\n\nif ( temperature > limit  || \n  pressure > limit  ||\n  level > limit )\n {\n     payload_val = 1;\n     node.log (\"Opening Valve!\");\n }\n\nvar newMsg = { payload: payload_val };\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 280,
        "wires": [
            [
                "b9c5384f6c0b527c"
            ]
        ]
    },
    {
        "id": "836b1c2ed5185ec9",
        "type": "debug",
        "z": "0c5097674d198887",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 280,
        "wires": []
    },
    {
        "id": "b9c5384f6c0b527c",
        "type": "OpcUa-Item",
        "z": "0c5097674d198887",
        "item": "ns=1;s=s7:OutletValve:Setting",
        "datatype": "Int16",
        "value": "",
        "name": "SetOutletValve",
        "x": 860,
        "y": 280,
        "wires": [
            [
                "74d4d5a9d6703738"
            ]
        ]
    },
    {
        "id": "74d4d5a9d6703738",
        "type": "OpcUa-Client",
        "z": "0c5097674d198887",
        "endpoint": "035f32a25bb2b317",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "Write",
        "x": 1010,
        "y": 280,
        "wires": [
            [
                "836b1c2ed5185ec9"
            ]
        ]
    },
    {
        "id": "160f761e5f72cd4e",
        "type": "OpcUa-Item",
        "z": "0c5097674d198887",
        "item": "ns=1;s=s7:OutletValve:Setting",
        "datatype": "Int16",
        "value": "",
        "name": "S7-sub",
        "x": 280,
        "y": 440,
        "wires": [
            [
                "0e9eff8885841e8a"
            ]
        ]
    },
    {
        "id": "035f32a25bb2b317",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://xrt-demo:4840/",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    }
]